faster-whisper
uvicorn[standard]
fastapi
ctranslate2[gpu]>=4.0,<5
huggingface_hub>=0.13
tokenizers>=0.13,<1
onnxruntime>=1.14,<2 
av>=11
tqdm
nvidia-cublas-cu12
nvidia-cudnn-cu12==9.*
python-multipart